
@{
    ViewBag.Title = "BlogCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <style>
        input {
            max-width: 600px;
        }
        textarea {
            max-width: 600px;
        }
    </style>
</head>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới:</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="@Url.Action("AddBlog","CRUD")" method="post">
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">ID</label>
                    <input type="text" class="form-control " name="id_Blog" disabled>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Title</label>
                    <input type="text" class="form-control" name="title_Blog">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Bài viết</label>
                    <textarea class="form-control" rows="7" name="dicription_Blog"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Hình ảnh</label>
                    <input type="file" name="img_Blog" value="" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Người đăng</label>
                    <input type="text" class="form-control" name="author_Blog">
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
            </div>
        </form>
    </div>
</section>

